<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.1.2/dist/tf.min.js"></script>

<style>
input[type=range] {
  -webkit-appearance: none;
  margin: 3.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c3c4c3;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.4px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dddddd;
}
input[type=range]::-moz-range-track {
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c3c4c3;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.4px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #a9aba9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #c3c4c3;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2.4px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #c3c4c3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #dddddd;
}

#canvasDec {
    padding: 0;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
}

#myCanvas1 {
    padding: 0;
    margin: auto;
    display: block;
    width: 250px;
    height: 250px;
    border: 1px solid #000000;
}

#myCanvas2 {
    padding: 0;
    margin: auto;
    display: block;
    width: 250px;
    height: 250px;
    border: 1px solid #000000;
}
</style>

<div>
    <div style="display: flex;">
        <div style="width:250px; height:250px; display:inline; margin: auto; padding: 0;">
            <canvas id="myCanvas1"></canvas> 
        </div>
        <div style="width:250px; height:250px; display:inline; margin: auto; padding: 0;">
            <canvas id="myCanvas2"></canvas> 
        </div>
    </div>
    <button id="randBtn" style="display: block; margin: 15px auto 0 auto;">Randomize input noise</button>
</div>
The image on the left is the input to a DAE trained on the MNIST dataset with gaussian noise.
The image on the right is the denoised result that the DAE outputs.
Clicking the button above randomizes the input noise and shows how the DAE is robust to random perturbations in the input.

<canvas id="canvasDec"></canvas> 
<div class="slidecontainer">
    <center>
        <div>z1
            <input type="range" min="-1" max="1" value="0.0" step="0.01" class="slider" id="z1-dec">
            <span style="min-width:50px; display:inline-block;" id="z1-dec-value"></span>
        </div>
        <div>z2
            <input type="range" min="-1" max="1" value="0.0" step="0.01" class="slider" id="z2-dec">
            <span style="min-width:50px; display:inline-block;" id="z2-dec-value"></span>
        </div>
    </center>
</div>


<script >
var z1DecS;
var z1DecV;
var z2DecS;
var z2DecV;
var model;
var canvasDec;
var baseImg;
var model2;
var canvas2;
var modelIn;
var std;
var mean;

async function load_model() {
    model = await tf.loadLayersModel("../../../../../assets/models/DAE-z2-js/model.json");

    z1DecS.value = Math.random()*2-1;
    z1DecV.innerHTML = z1DecS.value;

    z2DecS.value = Math.random()*2-1;
    z2DecV.innerHTML = z2DecS.value;

    dae_z2_predict(z1DecS.value, z2DecS.value);
}

function dae_z2_predict(z1, z2) {
    var x1 = parseFloat(z1);
    var x2 = parseFloat(z2);
    var pred = model.predict(tf.tensor2d([[x1, x2]]));
    pred = tf.mul(tf.add(pred.tanh(), 1), 0.5).reshape([32,32]);
    tf.browser.toPixels(pred, canvasDec);
}

function dae_predict(im) {
    var pred = model2.predict(im.reshape([1, 32, 32, 1]));
    var out = pred.mul(std).add(mean);
    var norm = out.sub(out.min()).div(out.max().sub(out.min()));
    tf.browser.toPixels(norm.reshape([32,32]), canvas2);
}

function grayscale_img(im) {
    return im.mean(2);
}

function standardize_img(im) {
    var mean = tf.moments(im).mean;
    var std = tf.sqrt(tf.moments(im).variance);
    return [mean, std, tf.div(im.sub(mean), std.add(0.00001))];
}

function unstandardize_img(mean, std, im) {
    return im.mul(std).add(mean);
}

async function load_model2() {
    model2 = await tf.loadLayersModel("../../../../../assets/models/DAE-full-js/model.json");
    dae_predict(modelIn);
}

function add_noise(im) {
    return im.add(tf.randomNormal(im.shape));
}

function get_new_noisey_input() {
    var inputImg = tf.browser.fromPixels(baseImg).toFloat();
    var greyImg = grayscale_img(inputImg);
    var standOut = standardize_img(greyImg);
    mean = standOut[0];
    std = standOut[1];
    modelIn = standOut[2];
    modelIn = add_noise(modelIn);
    var out = modelIn.mul(std).add(mean);
    var norm = out.sub(out.min()).div(out.max().sub(out.min()));
    tf.browser.toPixels(norm.clipByValue(0, 1).reshape([32,32]), canvas1);
}

window.onload = function () { 
    canvasDec  = document.getElementById("canvasDec");
    canvas1 = document.getElementById("myCanvas1");
    canvas2 = document.getElementById("myCanvas2");

    // randomized noise prediction
    baseImg = new Image(32, 32);
    baseImg.src = "../../../../../assets/images/DAE/0.png";

    canvas1.src = baseImg.src;
    baseImg.onload = () => {
        get_new_noisey_input();
        load_model2();
    }

    // z1 slider
    z1DecS = document.getElementById("z1-dec");
    z1DecV = document.getElementById("z1-dec-value");
    z1DecV.innerHTML = z1DecS.value;
    z1DecS.oninput = function() {
        z1DecV.innerHTML = this.value;
        dae_z2_predict(this.value, z2DecS.value);
    }

    // z2 slider
    z2DecS = document.getElementById("z2-dec");
    z2DecV = document.getElementById("z2-dec-value");
    z2DecV.innerHTML = z2DecS.value;
    z2DecS.oninput = function() {
        z2DecV.innerHTML = this.value;
        dae_z2_predict(z1DecS.value, this.value);
    }

    load_model();

    document.getElementById("randBtn").onclick = function() {
        get_new_noisey_input();
        dae_predict(modelIn);
    }
}
</script>

